@font-face {
  font-family: "BDCartoonShoutRegular";
  src: url("../lib/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "FARegular";
  src: url("../lib/fa-regular-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
body {
  text-align: center;
  background-color: #000;
  background-image: url("../img/arcade_game_background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 768px;
  overflow: hidden;
  margin: 0;
}
.devday-logo {
  height: 50px;
  margin: 10px auto 5px auto;
}
#lockman {
  width: 560px;
  height: 100%;
  margin: auto auto;
}
#shim {
  font-family: BDCartoonShoutRegular;
  position: absolute;
  visibility: hidden;
}
h1 {
  font-family: BDCartoonShoutRegular;
  text-align: center;
}

a {
  text-decoration: none;
}
