@font-face {
  font-family: "BDCartoonShoutRegular";
  src: url("../lib/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  text-align: center;
  background-color: #000;
  background-image: url("../img/hero-patterns.png");
  background-size: 45%;
  background-repeat: repeat-x;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  height: 768px;
  overflow: hidden;
}
.devday-logo {
  height: 68px;
  margin-left: auto;
  margin-right: auto;
}
#shim {
  font-family: BDCartoonShoutRegular;
  position: absolute;
  visibility: hidden;
}
h1 {
  font-family: BDCartoonShoutRegular;
  text-align: center;
}

#game-canvas {
  background-color: black;
}
